
table {
        border: outset;
        border-width: thin;
        background: #eeeeee;
}

td {
        text-align: center;
}

td.numeric,th.numeric { 
        text-align: right;
}

td.name,th.name {
        padding-left: 1ex;
        text-align: left;
}
td.namebold {
        font-weight: bold;
        padding-left: 1ex;
        text-align: left;
}

/* For printing the spells themselves */
p.spell {
        text-indent: -1ex; 
        padding-left: 1ex;
        text-align: left;
}
.spellname {
        font-weight: bold;
}
.annotation {
        font-style: italic;
        padding-left: 3ex;
}
.reference {
        font-style: italic;
}
